.create {
    padding-top: 50px;
  }
  
  .createImg {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .createForm {
    position: relative;
  }
  
  .createFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
  }
  
  .createIcon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(129, 125, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .createInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
  }
  
  .createInput::placeholder {
    color: rgb(189, 185, 185);
    font-weight: 400;
  }
  
  .createInput:focus {
    outline-style: none;
  }
  
  .createText {
    width: 10vw;
    height: 5vh;
    font-family: inherit;
    font-size: 20px;
    
  }
  
  .createSubmit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }