.about {
    padding: 20px;
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    margin: 40px auto;
    width: 85%;
}