
@media (min-width: 1200px) {
  .PhotoCard {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
  }
}

@media (max-width: 1200px) {
  .PhotoCard {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .PhotoCard {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}

.PhotoCard img {
  /* width: 100%; */
  
  /* width: 20vw;
  border: .5vmin solid grey; */

  width: 100% !important;
  height: auto !important;
}